* {
  box-sizing: border-box;
}
#issues {
  margin: auto;
  margin-bottom: 2vh;
  max-width: 1100px;
  overflow: auto;
  color: #333;
  font-family: "Noto Serif", monospace;
}

.bernie-issues {
  height: 600px;
  background: linear-gradient(
      to right,
      rgb(255, 255, 255),
      transparent,
      transparent,
      transparent
    ),
    url("../img/issues1.jpeg") no-repeat center center/cover;
  padding-top: 50px;
}

/* the text inside picture */
#issues .info-left {
  float: left;
  width: 300px;
  min-height: 100%;
  margin: 30px;
  padding: 10px;
}
#issues .info-left h3 {
  font-size: 21px;
}
#issues .info-left h2 {
  font-size: 24px;
  padding-bottom: 20px;
}
#issues .info-left p {
  font-size: 21px;
  font-weight: bolder;
}

.issues-section {
  padding-left: 10px;
  float: left;
  display: block;
  width: 100%;
  height: 100%;
  color: #2b9cd9;
  font-size: 22px;
}
.issue-name {
  cursor: pointer;
  color: #2b9cd9;
  text-decoration: none;
}
.issue-name:hover {
  color: transparent;
  -webkit-text-stroke: 1px #2b9cd9;
}
.fa-chevron-down {
  float: right;
  padding: 0 20px;
}
ul.invisible {
  display: none;
}

ul.visible {
  padding-left: 10px;
  list-style: none;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 16px;
  /* visibility: hidden;
  animation: 0s linear 2.3s forwards visi; */
}
