.messenger {
  margin: 60px auto 70px;
  overflow: auto;
  background-color: rgb(61, 61, 189);
  width: 600px;
}
.messages {
  width: 600px;
  height: 505px;
  margin: 0px auto;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  font: 18px/1.3 sans-serif;
  overflow: auto;
  padding: 0;
  background: linear-gradient(rgb(255, 143, 178) 0%, rgb(167, 151, 255) 50%, rgb(0, 229, 255) 100%);
}

.messages:after {
  content: '';
  background: white;
  flex: 1;
  pointer-events: none;
}

.messages li {
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  border-style: solid;
  border-color: white;
  border-width: 2px 16px 2px 8px;
  flex: 0 0 auto;
}

.messages li.mine {
  flex-direction: row;
  border-right-width: 8px;
  border-left-width: 16px;
}

.messages li:first-child {
  border-top-width: 10px;
}

.messages li:last-child {
  border-bottom-width: 10px;
}

.messages li:before {
  content: '';
  flex: 1;
  background: white;
  pointer-events: none;
}

.messages li span {
  background: #eee;
  padding: 8px;
  position: relative;
}

.messages li span:before {
  content: '';
  position: absolute;
  left: -8px;
  top: -8px;
  bottom: -8px;
  right: -8px;
  border: 8px solid white;
  border-radius: 16px;
  pointer-events: none;
}

.messages li.mine span {
  background: none;
  color: white;
}

.messenger button {
  display:block;
  width: 100%;
  padding: 8px;
  font-size: 15px;
  letter-spacing: 3.4px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #1688e0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}