.messenger {
  margin: 2vh auto;
  overflow: auto;
  width: 500px;
}
.messenger .headers {
  min-width: 60%;
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  color: #0f2862;
  letter-spacing: 3.4px;
  font-stretch: extra-expanded;
  font-family: "Noto Serif", monospace;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.messenger .name-of-user {
  border-bottom: 1px solid #0f2862;
  color: #0f2862;
  text-decoration: none;
}

.messenger .name-of-user:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  border-bottom: 1px solid #453886;
  color: #453886;
  padding-bottom: 0.3em;
  text-decoration: none;
}
.messenger .header .larger {
  letter-spacing: 1.4px;
  color: #4f5f76;
  font-style: oblique;
  font-family: "Noto Serif", monospace;
}

.messages {
  min-width: 50%;
  width: 500px;
  height: 50vh;
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  font: 16px/1.3 sans-serif;
  overflow: auto;
  padding: 0;
  background: linear-gradient(
    rgb(255, 143, 178) 0%,
    rgb(167, 151, 255) 50%,
    rgb(0, 229, 255) 100%
  );
}

.messages:after {
  content: "";
  background: white;
  flex: 1;
  pointer-events: none;
}

.messages:after {
  content: "";
  background: white;
  flex: 1;
  pointer-events: none;
}

.messages li {
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  border-style: solid;
  border-color: white;
  border-width: 2px 16px 2px 8px;
  flex: 0 0 auto;
}

.messages li.mine {
  flex-direction: row;
  border-right-width: 8px;
  border-left-width: 16px;
}

.messages li:first-child {
  border-top-width: 10px;
}

.messages li:last-child {
  border-bottom-width: 10px;
}

.messages li:before {
  content: "";
  flex: 1;
  background: white;
  pointer-events: none;
}

.messages li span {
  background: #eee;
  padding: 8px;
  /* position: relative; */
}

.messages li span:before {
  content: "";
  position: absolute;
  left: -8px;
  top: -8px;
  bottom: -8px;
  right: -8px;
  border: 8px solid white;
  border-radius: 16px;
  pointer-events: none;
}

.messages li.mine span {
  background: none;
  color: white;
}
.messages li p {
  font-size: 12px;
  margin: 2px 0;
}
.messages li.mine p {
  text-align: right;
}
/* message-form */
#message-form {
  /* min-width: 50%; */
  width: 500px;
  margin: auto;
}
#message-form .form-group {
  margin-bottom: 20px;
  margin-top: 20px;
}

#message-form label {
  display: block;
  margin-bottom: 5px;
}

/* textarea border is darker than input so to make them all the same, use border: 1px offwhite solid */
#message-form input,
#message-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
  font-size: 14px;
}

/* make the text box for content of message form bigger */
#message-form textarea {
  height: 60px;
}

#message-form input:focus,
#message-form textarea:focus {
  outline: none;
  border-color: #1062a1;
}

.messenger button {
  display: block;
  width: 20%;
  padding: 8px;
  margin-bottom: 6vh;
  font-size: 13px;
  letter-spacing: 3.4px;
  background-color: #1688e0;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #1062a1;
}

.margin-bottom {
  margin-bottom: 15vh;
}
