body {
  /* line-height add spaces in between labels and input box and other divs */
  font-family: "Raleway", sans-serif;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

#sign-in-form-container {
  max-width: 550px;
  margin: 8vh auto;
  margin-bottom: -3vh;
  padding: 20px;
  /* margin-bottom: 15%; */
}

.sign-in-form-wrap {
  background: #fbfbfb;
  padding: 10px 25px;
}

.sign-in-form-wrap h1,
.sign-in-form-wrap p {
  text-align: center;
}

.sign-in-form-wrap .form-group {
  margin-top: 15px;
  font-size: 12pt;
}

/*
Label should be turned into a block element because I want label above input type in blocks
*/
.sign-in-form-wrap .form-group label {
  display: block;
  color: #333;
}

/* padding is needed to make it bigger heigtwise and border for cleaner white look */
.sign-in-form-wrap .form-group input {
  width: 100%;
  padding: 5px;
  border: #ddd 1px solid;
  border-radius: 5px;
  font-size: 14px;
}

.sign-in-form-wrap button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 15px;
  letter-spacing: 3.4px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #1688e0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.sign-in-form-wrap button:hover {
  background-color: #1062a1;
}

.sign-in-form-wrap .bottom-text {
  margin-top: 20px;
  font-size: 10pt;
}

.error-message {
  color: red;
}

.sign-in-image {
  background: url("../img/bernieForThePeople.jpg") no-repeat center center/cover;
  height: 45vh;
  width: auto;
  margin-bottom: -1vh;
}
footer {
  color: white;
  text-align: center;
  margin-top: 10px;
}
footer a {
  color: black;
}
