#issues {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
  color: #333;
  font: 700 1em , monospace;
  font-family: 'Noto Serif', serif;
}

.issues-info {
  height: 600px;
  background: linear-gradient(to right, rgb(255, 255, 255), transparent, transparent,transparent), url("./img/issues1.jpeg") no-repeat center center/cover;
  padding-top: 50px;
}


#issues .info-left {
  float: left;
  width: 300px;
  min-height: 100%;
  margin: 30px;
  padding: 10px;
}
#issues .info-left h3{
  font-size: 21px;

}
#issues .info-left h2 {
  font-size: 24px;
  padding-bottom: 20px;
}
#issues .info-left p {
  font-size: 21px;
}
.py-3 { padding: 30px 0; }