* {
  box-sizing: border-box;
}
#issues {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  color: #333;
  font-family:'Noto Serif', monospace;
}

.bernie-issues {
  height: 600px;
  background: linear-gradient(to right, rgb(255, 255, 255), transparent, transparent,transparent), url("./img/issues1.jpeg") no-repeat center center/cover;
  padding-top: 50px;
}

/* the text inside picture */
#issues .info-left {
  float: left;
  width: 300px;
  min-height: 100%;
  margin: 30px;
  padding: 10px;
}
#issues .info-left h3{
  font-size: 21px;

}
#issues .info-left h2 {
  font-size: 24px;
  padding-bottom: 20px;
}
#issues .info-left p {
  font-size: 21px;
  font-weight: bolder;
}

.issues-section {
  padding-left: 10px;
  float: left;
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 20px;
}
.issue-name {
  cursor: pointer;
  color: #ff9800;
  text-decoration: none;
}
.issue-name:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 6px;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke: 2px #ff9800;
}
@supports not(-webkit-text-stroke: 2px red) {
  .issue-name:hover {
    text-shadow:
      3px 3px 0 #ff9800,
      -1px -1px 0 #ff9800,
      1px -1px 0 #ff9800,
      -1px 1px 0 #ff9800,
      1px 1px 0 #ff9800;
  }
}
ul.invisible {
  display: none;
}

ul.visible {
  padding-left: 10px;
  list-style: none;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 15px;
}

